
html {
  font-size: 62.5%;
  /* whats 62.5% of 100% (16px)=10px
  will make calcuting quicker for REms..
  ex: height is 32px, means 3.2rems; 3.2X10px= 32px*/
}
body {
  color: hsla(202,0%,30%,1);
  font-family: 'Open Sans', sans-serif;
  line-height: 2.8rem;
}
a{
  color: black;
  text-decoration: none;
}
p{
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: hsla(202,0%,60%,1);
}
h5{
  font-size: 1.7rem;
  line-height: 1.9rem;
}
h4 {
    font-size: 1.8rem;
    color: hsla(202,0%,60%,1);
}
h3{
  font-size: 2.1rem;
  line-height: 2.6rem;
}
h2{
  font-size: 2.8rem;
  font-weight: bold;
}
h1{
  font-size: 3.8rem;
  font-weight: bold;
  line-height: 3.6rem;
}
/* Header */
#header_mobile{
  display: none;
}
#header_desktop{
  display: flex;
  justify-content: space-between;
  height: 6.4rem;
  width: 100%;
  align-items: center;
  position: fixed;
  box-shadow: 0 0 1px .5px rgba(0, 0, 0, 0.3);
  z-index: 9999999;
  background-color: hsla(201,0%,100%,0.95)
}
#header_desktop .right ,header .left{
  display: flex;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  height: 3.2rem;
  align-items: center;
}
#colmar{
  font-weight: bold;
  color: hsla(202,0%,30%,1);
}
#academy{
  color: hsla(202,0%,70%,1);
}
#header_desktop .right{
  justify-content: space-between;
}
#header_desktop .right p {
  display: flex;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  height: 6.4rem;
  align-items: center;
  transition: all 100ms ease-in-out;
}
/*animation*/

#header_desktop .right p:hover {
  color: white;
  background-color: hsla(202,0%,30%,1);
  height: 6.4rem;
  align-content: center;
  font-weight: bold;
  font-size: 1.8rem;
}
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {

 #header_desktop{
  display: none;
}
#header_mobile{
  display: flex;
  padding: auto 0;
}
 #header_mobile div{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: 6.4rem;
   width: 100%;
   position: fixed;
   box-shadow: 0 0 1px .5px rgba(0, 0, 0, 0.3);
   z-index: 9999999;
   background-color: hsla(201,0%,100%,0.95)
 }
  #header_mobile a:hover {
 background-color: hsla(201,0%,71%,0.95);
 width: 125%;
 height:100%;
  }
 #header_mobile a {
   margin:auto 0;
   display: flex;
   width: 100%;
   height: 75%;
 }
 #header_mobile img {
   width: 100%;
   height:auto;
 }

 }


/*main page width*/
.main{
  width: 96rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 6.4rem;
}
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  .main {
    width: 73.6rem;
  }
}
/* Intro */
.intro {
  display: flex;
  background-color: hsla(202,0%,89%,1);
}


.intro .image_box {
  padding: 3.2rem 2.4rem;
  max-width: 100%;

}
.intro .image_box img {
  max-width: 100%;
}
.intro .start {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro .start p{
  color:white;
}
.start:nth-child(2) :nth-child(2) {
  padding: 2.2rem 0;
}
.start:nth-child(2) :nth-child(3) {
  display: flex;
  justify-content: center;
  background: hsla(202,0%,30%,1);
  color: white;
  text-align: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  box-shadow: 0px 0px 1px .9px rgba(0, 0, 0, 0.3);
}
.start:nth-child(2) :nth-child(3) :hover {
  font-size:1.8rem;
}
 #mobile_banner {
  display:none;
}
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px){
  .intro {
    flex-direction: column;
    width: 73.6rem;
    position: relative;
    top:-2rem;
  }
  .intro .image_box {
    display: none;
  }
  .intro .start {
    margin: 3.2rem 1.6rem 3.2rem 1.6rem;
  }
  .start:nth-child(2) :nth-child(3) {
    background: hsla(202,0%,60%,1);
  }
  .intro .start {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #mobile_banner {
    display:block;
    width:100%;
  }
  #mobile_banner img {
    max-width: 100%;
  }
}
/* reference
header .right p {
  display: flex;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  height: 6.4rem;
  align-items: center;
  transition: all 100ms ease-in-out;
}
header p:hover {
  color: white;
  background-color: hsla(202,0%,30%,1);
  height: 6.4rem;
  align-content: center; */


/*features */

.features {
  display: flex;

}
#left_box {
  width:60%;
}
#left_image_box {
  max-width: 100%;
  padding: 3.2rem 2.4rem;

}
#left_image_box img {
  max-width: 100%;
}
#text {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  margin-bottom: 3.2rem;
}
#text h2 {
  margin-bottom: 2.4rem;
}
#text .tiny {
  margin-top: 2.4rem;
  color: hsla(202,0%,30%,1);
}
.features .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  border-left:  0.5px solid hsla(202,0%,89%,1);
}
.right .side_container {
  display: flex;
}
#right_image_box {
  width: 35%;
  padding: 1.6rem 1.6rem 0 1.6rem;
}
.right .side_container .text {
  width: 65%;
  margin: auto 0;
  padding-left: 0.4rem;
}
.right .side_container:first-child {
border-bottom: 0.5px solid hsla(202,0%,89%,1);
margin-top: 1.6rem;
}
.right .side_container:nth-child(2n) {
border-top: 0.5px solid hsla(202,0%,89%,1);
}
.right .side_container:last-child {
background-color: hsla(202,0%,89%,1);
}
.right .side_container .text p {
  padding-top: .8rem;
}
.right .side_container .text .tiny {
  color: hsla(214,70%,60%,1);
}
.side_container img {
  max-width: 100%;
  margin-bottom: 0rem;
}
.mobile_image {
display: none;
}
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  .hidden {
    display: none;
  }
  .features .right {
    margin: 0rem 1.6rem 3.2rem 1.6rem;
    width: 100%;
    border-left:  0px;
  }
  .right .side_container {
    display: flex;
    flex-direction: column;
  }
  #right_image_box {
    height: 100%;
    width: auto;
    padding: 0rem 0rem 0 0rem;
  }
  .side_container img {
    width: 100%;
    margin-bottom: 0rem;
  }
  .right .side_container .text {
    margin: 6.4rem 0 0 0;
  }
  .right .side_container:first-child {
  border-bottom: 0px;
  margin: 0 0 6.4rem 0;
  }
  .right .side_container:last-child {
  background-color: transparent;
  }
  .right .side_container:nth-child(2n) {
  border-top: 0px;
  margin-bottom: 6.4rem;
  }
  .desktop_image {
  display: none;
  }
  .mobile_image {
  display: block;
  }
}
/*majors*/
.majors {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(202,0%,95%,1);
}
.majors h2 {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
.all_options_mobile{
  display: none;
}
.all_options_container{
  margin: 0rem 7.2rem 0 7.2rem;
  max-width: 96rem;
}
.all_options {
  display: flex;
  flex-direction: column;
  max-width: 96rem;
}
.all_options_container img {
  width: 100%;
  height: auto;
}
.all_options_container .text {
  padding-top: 1.6rem;
  padding-left:1.6rem;
  padding-bottom: 2.4rem;
}
.options1 {
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}
.options2 {
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}
.option {
  max-width: 30%;
  background-color: white;
}
/* animation for majors*/
.option:hover {

}
.middle {
  margin:0rem 3.2rem;
}
.all_options_container .text h4 {
  padding-top: .8rem;
  padding-bottom: .8rem;
}

/*Thesis*/

.thesis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96rem;
  position: relative;
  z-index: 999;
  margin: 0 auto;
  top: 6.4rem;
  overflow: hidden;
}
.thesis h2 {
  margin: 3.2rem 0 3.2rem 0;
}
.all_exhibits {
  display: flex;
}

.left_side {
  margin: 0 2.4rem 3.2rem 2.4rem;
  max-width: 60%;
  overflow: hidden;
}
.left_side video{
 max-width: 100%;
}
.left_side .text {
  margin-top: 2.4rem;
}
.left_side .text p{
  padding-top: .8rem;
}
.right_side {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}
.right_side .side_container{
  display: flex;
  padding-right: 1.6rem;
}
.right_side .side_container:first-child {
background-color: hsla(202,0%,89%,1)

}
.right_side .side_container .text {
  width: 65%;
  margin: auto 0;
}
.right_side p {
  font-size: 1.4rem;
  padding-top: .8rem;
}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  .thesis {
    width: 73.6rem;
  }
  .hidden {
      display: none;
    }
    .left_side {
      margin: 1.6rem 0rem 0rem 0rem;
      max-width: 100%;
    }
    .thesis h2 {
      margin: 3.2rem 0 0 0;
    }

}


/*footer*/
footer {
  position: relative;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  top: 6.4rem;
  padding-top: 1.6rem;
  display: flex;
  justify-content: space-between;
}
footer div:nth-child(2n+2) {
  display: flex;
  justify-content: space-between;
}
footer div:nth-child(2n+2) p {
  margin-left: 1rem;
}
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  footer {
    padding-bottom: 1.6rem;
  }
#hidden {
  display: none;
}
}
/*media query for majors when placed above THesis and footer section
kept messing all CSS but when place here it was fine, not sure why */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
 .majors {
   background-color: transparent;
   border-top:0.5px solid hsla(202,0%,95%,1);
   width: 73.6rem;
 }
.all_options_mobile{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.all_options_mobile h3 {
  color: hsla(202,0%,30%,1);
  background-color: hsla(202,0%,89%,1);
  margin:0rem 1.6rem .8rem 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 2.4rem;
  padding-left: 1.6rem;
  max-width: 100%;
  font-size: 1.9rem;
  line-height: 1.6rem;
}




/*

@media only screen and (max-width : 360px) {
 .majors {
   background-color: transparent;
   border-top:0.5px solid hsla(202,0%,95%,1);
   width: 36rem;
 }
.all_options_mobile{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.all_options_mobile h3 {
  color: hsla(202,0%,30%,1);
  background-color: hsla(202,0%,89%,1);
  margin:0rem 1.6rem .8rem 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 2.4rem;
  padding-left: 1.6rem;
  max-width: 100%;
  font-size: 1.9rem;
  line-height: 1.6rem;
}

*/
