html {
  font-size: 62.5%;
  /* whats 62.5% of 100% (16px)=10px
  will make calcuting quicker for REms..
  ex: height is 32px, means 3.2rems; 3.2X10px= 32px*/
}
body {
  color: hsla(202,0%,30%,1);
  font-family: 'Open Sans', sans-serif;
  line-height: 2.8rem;
}
a{
  color: black;
  text-decoration: none;
}
p{
  font-size: 1.6rem;
  color: hsla(202,0%,60%,1);
}
h4 {
    font-size: 1.8rem;
    color: hsla(202,0%,60%,1);
}
h3{
  font-size: 2.1rem;

}
h2{
  font-size: 2.8rem;
  font-weight: bold;
}
h1{
  font-size: 3.2rem;
  font-weight: bold;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  height: 6.4rem;
  width: 100%;
  align-items: center;
  position: fixed;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  z-index: 9999999;
  background-color: hsla(201,0%,100%,0.95)


}
header .right ,header .left{
  display: flex;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  height: 3.2rem;
  align-items: center;
}
#colmar{
  font-weight: bold;
}
#academy{
  color: hsla(202,0%,70%,1);
}
header .right{
  justify-content: space-between;
}
header .right p {
  margin-left: 1.6rem;
}
/*animation*/
header a:hover{

}
/*main page width*/
.main{
  width: 96rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 6.4rem;
}
/* Intro */
.intro {
  display: flex;


  background-color: hsla(202,0%,89%,1);
}
.intro div {


  margin-right: 0rem;
}
.intro .image_box {
  padding: 3.2rem 2.4rem;
  width: 60%
}
.intro .image_box img {
  max-width: 100%;
}
.intro .start {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*features */

.features {
  display: flex;
  padding-left: 2.4rem;
}
.features #left_image_box {
  padding-right: 2.4rem;
  width: 60%;
}
.features #left_image_box img {
  max-width: 100%;
  margin-top: 3.2rem;
}

/*FIX THIS SELECTOR BELOW!!!!!!!!!!!*/
.left .text:nth-child(1n+1){
  background-color: lightgrey;
}
.features .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
.right .side_container {
  display: flex;
}
#right_image_box {
  width: 35%;
}
.right .side_container .text {
  width: 65%;
  position: relative;
  left:1rem;
}
.right .side_container .text p {
  padding-top: .8rem
}
.right .side_container .text .tiny {
  color: hsla(214,70%,60%,1)
}
.side_container img {
  max-width: 100%;
}

/*majors*/
.majors {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(202,0%,95%,1);
}
.majors h2 {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
.all_options_container{
  margin: 0rem 7.2rem 0 7.2rem;
  max-width: 96rem;
}
.all_options {
  display: flex;
  flex-direction: column;
  max-width: 96rem;
}
.all_options_container img {
  width: 100%;
  height: auto;
}
.all_options_container .text {
  padding-top: 1.6rem;
  padding-left:1.6rem;
  padding-bottom: 2.4rem;
}
.options1 {
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}
.options2 {
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}
.option {
  max-width: 30%;
  background-color: white;
}
/* animation for majors*/
.option:hover {

}
.middle {
  margin:0rem 3.2rem;
}
.all_options_container .text h4 {
  padding-top: .8rem;
  padding-bottom: .8rem;
}

/*Thesis*/

.thesis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 96rem;
  border: 1px solid red;
  position: relative;
  z-index: 999;
  margin: 0 auto;
  top: 6.4rem;
  overflow: hidden;
}
.thesis h2 {
  margin: 3.2rem 0 3.2rem 0;
}
.all_exhibits {
  display: flex;
}

.left_side {
  margin: 0 2.4rem 3.2rem 2.4rem;
  border: 1px solid orange;
  width: 60%;
  overflow: hidden;
}
.left_side video{
 max-width: 100%
}
.left_side .text {
  margin-left: 2.4rem;
}
/*footer*/
footer {
  position: relative;
  top: 6.4rem;
}
